// Text Alignment Utilities
@use '../core/breakpoints' as *;

@include responsive-variants using ($p) {
  .#{$p}align-text-left {
    text-align: left;
  }
  .#{$p}align-text-right {
    text-align: right;
  }
  .#{$p}align-text-center {
    text-align: center;
  }
}
